body 
{
  background-image: url("background.jpeg");
  background-repeat: repeat;
}

.main_area
{
  background-image: url("paper.jpeg");
  background-repeat: repeat;

  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  height: 90%

  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.main_area img
{
  width: 12%;
  height: 12%;
}

.main_area img:hover
{
  width: 13%;
  height: 13%;
}

.hid img
{
  height: 5%;
  width: 5%;
}

#hid1
{
  margin-top: 5%;
  display: none;
}

#hid2
{
  margin-top: 5%;
  display: none;
}

#hid3
{
  margin-top: 5%;
  display: none;
}

#hid4
{
  margin-top: 5%;
  display: none;
}
